@page "/"
@using ArtCommissions.Data;
@using System.Drawing;
@using System.IO;
@inject IDbContextFactory<PostgresContext> contextFactory
@inject IJSRuntime JSRuntime

@if (imageBytes.Count != 0)
{

    <div class="container w-100 border border">
        <div class="row">
            <h1 class="text-center">@artist.Firstname @artist.Lastname</h1>
        </div>
        <div class="row flex-md-grow-1">
            <div class="col-md-1 flex-column">
                <div>
                    <img class="d-block w-100 rounded-circle" src="data:image/jpeg;base64,@Convert.ToBase64String(@artist.Profilepic)">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="border border-success">
                <p> about me: @artist.Aboutme</p>
            </div>
        </div>
        <div class="row">
            <div class="border border-danger">
                @if (socials is not null)
                {
                    @foreach (var row in socials)
                    {
                        <p>@row.Site : <a href="@row.Link">@row.Link</a></p>
                    }
                }
                else
                {
                    <p>no socials found</p>
                }
            </div>

        </div>
    </div>
}
else
{
    <p>No image</p>
}

@code {
    //TODO: still need to make artist profile table in our database (profile picture)
    [Parameter]
    public string? Name { get; set; }
    public string? About { get; set; }
    public IEnumerable<Social>? Socials { get; set; } = null;
    private List<byte[]> imageBytes { get; set; } = new();
    private byte[]? pfp { get; set; }
    const string carouselName = "carouselExampleIndicators"; // NOTE: the ID of the carousel
    private Artist artist { get; set; }
    private List<Social> socials { get; set; }


    protected override async Task OnInitializedAsync()
    {
        using var context = contextFactory.CreateDbContext();

        artist = await context.Artists
            .FirstOrDefaultAsync(i => i.Id == 1);

        var exampleImages = await context.ExampleImages
            .Where(i => i.IsInCarousel == true)
            .ToListAsync();

        socials = await context.Socials
            .Where(i => i.ArtistId == 1)
            .ToListAsync();

        foreach (ExampleImage e in exampleImages)
        {
            imageBytes.Add(e.Image);
        }
    }
}